<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Advantage.Data.Provider" version="8.10.1.2" targetFramework="net472" />
  <package id="System.Data.Odbc" version="9.0.5" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.5" targetFramework="net472" />
</packages>